/* Apply font settings and margin to all text within the body */
body {
    font-family: 'Helvetica', Arial, sans-serif; /* Fallback fonts included */
    margin: 2% 15%; /* Top/bottom then left/right */
    font-size:large;
    background-color: whitesmoke;
}

h1 {
    text-align: center; /* Ensures h1 is centered, can be removed if body centering is sufficient */
}

h3 {
    font-style: italic; /* This rule italicizes all h3 elements */
}

/* This CSS file or <style> tag styles the images to be centered and side by side */
.image-container {
    display: flex;        /* Uses Flexbox to align children (images) */
    justify-content: center; /* Centers the images horizontally */
    align-items: center;  /* Aligns images vertically in case they are of different heights */
}

.image-container img {
    margin: 0.5vw; /* Adds space between the images */
    
}

sup a {
    text-decoration: none; /* Removes underline from superscripted links */
}

.footnotes {
    margin-top: 20px;
    border-top: 1px solid #ccc; /* Adds a subtle line above the footnotes for separation */
    padding-top: 10px;
}

.footnotes a {
    text-decoration: none; /* Optionally removes underline from footnote back-references */
}


/* From Nick */

#map { 
    position: relative;
    background-color: white;
    height: 930px;
    width: 1400px; 
    margin: 0 auto;
}

#mapDropdown {
    position: absolute;
    top: 10px;  
    left: 10px;   
    z-index: 1000;    
}

#dataSelector {
    padding: 6px 8px;
    font: 16px/18px Helvetica, Arial, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info {
    padding: 6px 8px;
    font: 16px/18px Helvetica, Arial, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    border: 1px solid black;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

#legend {
    padding: 6px 8px;
    font: 16px/18px Helvetica, Arial, sans-serif;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    position: absolute;
    bottom: 20px;
    right: 20px;  
    width: 200px;
    height: 40px;
    border: 1px solid #888;
    z-index: 1000;
}

#more-info {
    margin-top: 10px;
}

#more-info-p {
    margin-top: 0px;
}

#selector-title {
    font: 16px/18px Helvetica, Arial, sans-serif;
    color: #777;
    margin: 0px;
    margin-bottom: 10px;
    text-align: left;
}

#viz-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
} 
#chart-container {
    width: 800px;
    margin: 0 auto;
  }